:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn:hover{
    color: #fff;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info ~ .movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    border-radius: 12px;
    text-align: justify;
}

.owl-carousel .owl-item img{
    border-radius: 12px;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
    border-radius: 14px;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 40px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section-header input{
    margin-left: auto;
    border-radius: 20px;
    border: 1px solid rebeccapurple;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--main-color);
    border-radius: 12px;
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

.section-content{
    background: #202020;
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    height: 500px;
    box-sizing: border-box;
}

.section-bl{
    display: inline-flex;
}

.binhluan{
    height: 360px;
    width: 674px; 
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: lightgrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}

.section-nd{
    display: inline-flex;
    position: relative;
}

.section-nd img{
    max-width: 55px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}

.section-nd input{
    border-radius: 24px;
    margin-left: 20px;
    margin: auto 20px;
    height: 45px;
    background: #202020;
    color: white;
    border: 1px solid mediumpurple;
    width: 100%;
    outline: none;
    padding-left: 16px;
}

.section-nd p{
    margin: 0 22px;
}

.section-nd .text-nd{
    position: absolute;
    bottom: 0;
    left: 55px;
}

.section-btn{
    position: relative;
    width: 26px;
    height: 24px;
    margin-left: 52px;
}

.section-nd span{
    font-size: 14px;
    color: #717171;
    margin-top: 2.2px;
}

.section-nd button {
    position: absolute;
    right: 14px;
    top: 10px;
}

/* a.dropdown-toggle {
    border-radius: 20px;
    border: 1px solid rebeccapurple;
    padding: 0 10px;
    margin-left: 10px;
} */

.menu{
    background: black;
}

.menu a:active{
    background: none;
}

.select{
    border-radius: 20px;
}

.select option {
    border-radius: 20px;
}

.main-pay-left{
    box-sizing: border-box;
}

.main-pay-nav{
    background: #202020;
    border-radius: 15px;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.section-radio{
    background: #202020;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.section-radio input{
    position: absolute;
    margin: auto;
    top: 17px;
}

.section-pay{
    padding: 20px;
    background: #090909;
    box-sizing: border-box;
    border-radius: 20px;
}

.section-pay-radio input{
    position: absolute;
    right: 14px;
    top: 26px;
}

.section-input{
    display: flex;
}

.section-pay-text{
    border-radius: 15px;
    padding: 10px;
    display: flex;
    position: relative;
    cursor: pointer;
}

.section-pay-text label{
    margin: auto;
    width: 180px;
}

.main-pay-right{
    box-sizing: border-box;
    background: #090909;
    padding: 20px;
    border-radius: 20px;
}

.main-pay-select{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}

.main-pay-select .text{
    width: 75px;
}

.main-pay-select p{
    line-height: 8px;
}

.hr{
    width: 95%;
    margin: auto;
    border: 1px solid;
    margin-bottom: 10px;
}

input.form-control {
    border-radius: 20px;
    max-width: 400px;
    background: #181616;
    border: 1px solid #ff6400;
}

#button-addon2{
    background: #202020;
    color: #ff6400;
    border: 1px solid #ff6400;
    text-transform: none;
    border-radius: 0 20px 20px 0px;
}

.text-org {
    color: #ff6400;
    cursor: pointer;
}

.btn-org {
    text-transform: none;
    background: #ff6400;
    border-radius: 10px;
    margin: auto;
    display: block;
    height: 45px;
}

#button-addon2:hover{
    background: #ff6400;
    color: #fff;
    border: 1px solid #ff6400;
}

.text-color{
    color: #ff6400;
}

.text-title{
    text-align: center;
    color: red;
    text-transform: uppercase;
}

.nav-pills .nav-link {
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    background: #fff;
    color: red;
    margin-left: 15px;
    font-weight: bold;
}

.nav-pills .nav-link:focus{
    background: #202020;
    color:#c0392b;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{ 
    background: none;
    color: #c0392b;
}

.card{
    background: #202020;
    border-radius: 12px;
    cursor: pointer;
    color: #95aac9;
    border: 2px solid rebeccapurple;
    margin-left: 20px;
    box-sizing: border-box;
}

.card-header, .card-footer {
    font-size: 20px;
    text-align: center;
}

.card-body {
    text-align: justify;
    height: 95px;
}

.card h5{
   border-bottom: 1px solid rebeccapurple; 
}

.card-footer{
    border-top: 1px solid rebeccapurple;
}

.card-footer:hover{
    background: rebeccapurple;
    border-radius: 8px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.card:hover{
    background: black;
}

.card.col-md-r-2 {
    width: 22%;
}

a.rap-item{
    color: #95aac9 !important;
}

a:hover{
    color: #fff;
}

.nav-tabs {
    justify-content: center;
    font-size: 25px;
    border: none;
}

button#nav-home-tab, #nav-profile-tab{
    text-transform: uppercase;
    border: none;
    color: #Fff;
    font-weight: bold;
    background: none;
}

.text-ci-p{
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.text-ci-p:hover{
    overflow: visible;
}

.nav-active.active{
    border-bottom: 2px solid red !important;
}

.form-select{
    width: 376px;
    height: 34px;
    border-radius: 20px;
    background: #202020;
    color: #fff;
    border: 1px solid rebeccapurple;
}

.form-select-d{
    width: 145px;
    height: 34px;
    border-radius: 20px;
    background: #202020;
    color: #fff;
    border: 1px solid rebeccapurple;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
}

.page-link.active{
    background: #3dd4aa;
    color: white;
    font-weight: bold;
}

.page-link{
    font-weight: bold;
}

i{
    word-spacing: 2px;
}

img.img-sk{
    max-width: 293px;
    height: 132px;
    border-radius: 12px;
    cursor: pointer;
}

.form-check-label{
    margin: 3px 0 0 -24px;
    font-size: 18px;
    cursor: pointer;
}

.section-radio p{
    position: absolute;
    margin: auto;
    right: 20px;
    top: 14px;
    cursor: pointer;
}

.section-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin:  4px 10px 0 4px;
}

.main-pay-left-pt{
    background: #090909;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}

/* modal */

.col-md-4.modal-left{
    max-width: 100%;
    height: 256px;
    box-sizing: border-box;
    background: #202020;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 58px;
}

.modal-content{
    padding: 20px;
    border-radius: 20px;
    background: #0c0b0b;
    border: 1px solid rebeccapurple;
}

.modal-right{
    position: relative;
    width: 448px;
}

.modal-right button{
    position: absolute;
    right: -56px;
    top: -24px;
}


/* phan css moi */

.section-left {
    background: #202020;
    border-radius: 12px;
    padding: 20px;
    color: rebeccapurple;
    transition: all 0.2s ease-in-out;
    /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc; */
}

.section-left-item {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.section-left-item span{
    padding-left: 15px;
}

box-icon#logout {
    transform: translateX(3px);
}

a.btn.btn-tab {
    color: lightgrey;
    font-size: 14px;
    text-transform: none;
}

a.btn-tab.active{
    padding: 16px;
    font-weight: bold;
}

.section-left-item.active {
    transition: all 0.2s ease-in-out;
    /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc; */
    background: #272424 !important;
    border-bottom: 3px solid red;
    padding: 0;
    margin-bottom: 36px;
    border-radius: 10px;
    padding-left: 8px;
    background: #202020;
    cursor: pointer;
    height: 52px;
}

a.btn-tab:hover{
    color: red;
}

.section-right {
    background: #202020;
    color: rebeccapurple;
    transition: all 0.2s ease-in-out;
    /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc; */
    width: 73%;
    border-radius: 12px;
}

.section-right-item{
    background: #272424;
    transition: all 0.2s ease-in-out;
    /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc; */
    border-radius: 10px;
    width: 400px;
    margin: 10px auto;
    cursor: pointer;
    height: 80px;
}

.section-right-item p{
    transform: translateY(8px);
}

.section-right-item .text-2{
    transform: translateY(0px);
}

.row-section-nd{
    display: flex;
    align-items: center;
    color: #fff;
}

.nd-p{
    color: #babecc;
}

.img-profile{
    width: 100px;
    height: 100px;
    border: 1px dashed;
    border-radius: 50%;
    cursor: pointer;
}

.btn-profile{
    border-bottom: 3px solid red;
    background: #272424;
    margin: 10px;
    text-transform: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

label.label-modal-icon{
    padding: 68px;
    border: 2px dashed rebeccapurple;
    border-radius: 12px;
}

.modal-profile{
    color: rebeccapurple;
}

.form-check-label-gt{
    transform: translateY(-4);
}

.modal-changePassword{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
}

.btn-pencil{
    transform: translateX(-10px);
}

.btn-x-modal{
    position: absolute;
    right: -22px;
    top: 10px;
}

.btn-pencil:focus, .btn-x:focus, .btn-x-modal:focus {
    box-shadow: none;
}

.label-img{
    color: rebeccapurple;
    display: flex;
    padding-right: 15px;
    font-size: 20px;
    justify-content: center;
}

/* end css */

footer.section {
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.content p {
    text-align: justify;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.top-nav-left {
    background: #202020;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px;
    max-width: 100%;
}

.top-nav-right {
    height: 351px;
    box-sizing: border-box;
}

.li-menu-active{
    border-bottom: 3px solid red;
}

.item-content-description{
    text-align: justify;
}

.btn-buy{
    border: 2px solid rebeccapurple;
    border-radius: 10px
}

.btn-buy:hover{
    color: #c0392b;
}

.main-lich-phim, .main-rap{
    display: flex;
    justify-content: center;
}

.main-rap-start{
    display: flex;
    justify-content: start;
}

.main-hour-top, .main-movie-tab{
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 200px;
}

.main-hour-top.active, .main-movie-tab.active{
    border-bottom: 2px solid red;
    height: 48px;
    border-radius: 10px;
    background: #202020;
    width: 200px;
}
/* 
.main-hour-body{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
} */

/* css mới */

.main-item{
    display: flex;
    align-items: center;
}

.main-item-select{
    border: 0;
    border-radius: 10px;
    width: 280px;
}

.main-span{
    width: 135px;
    font-weight: bold;
}

.bx-minus, .bx-plus{
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex !important;
    cursor: pointer;
    border-radius: 5px;
    background: #202020;
}

.bx-number{
    max-width: 55px !important;
    font-size: 12px !important;
    height: 30px !important;
    text-align: center;
    border-radius: 5px !important;
    background: #202020 !important;
    color: #ffffff !important;
    border: 0 !important;
}

.bx-minus:active, .bx-plus:active{
    border-color: #9ca4d6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(71 85 171 / 25%);
}

.main-input{
    width: 225px;
    border-radius: 8px !important;
    background: #202020 !important;
    color: #ffffff;
    border: 0 !important;
}   

.main-btn{
    background: #202020;
    margin-left: 135px;
    border: 3px solid rebeccapurple;
}

.text-chect-h5{
    font-size: 30px;
    font-weight: bold;
}

input[type=checkbox] + label {
    cursor: pointer;
    padding: 0.2em;
} 
  
input[type=checkbox] {
    display: none;
}
  
input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid mediumaquamarine;
    border-radius: 0.2em;
    display: inline-block;
    width: 23px;
    height: 26px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}
  
input[type=checkbox] + label:active:before {
    transform: scale(0);
}
  
input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}
  
input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}
  
input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.form-check-vt{
    display: flex;
}

.main-pay-left, .main-pay-right{
    background-color: #090909;
    border-radius: 12px;
    padding: 20px;
}

.img-pay{
    border-radius: 12px;
}

 /* end  */

div#pills-hcm, div#pills-dn, div#pills-hn {
    width: 1200px;
}

.text-hour-p{
    height: 12px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    /* moi */
    .section-right{
        width: 100%;
    }

    .modal-left{
        display: flex;
        justify-content: center;
    }

    .form-sm{
        margin-right: 26px;
    }

    .modal-changePassword{
        margin-right: 154px;
    }

    /* end */
}
