.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-rap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
}

/* [class*="col-"] {
    padding: 0 15px;
} */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.text-wrap {
    font-size: 12px;
    padding: 0 28px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 210px;
}

.ml-2{
    margin-left: 8px;
}

.ml-img{
    max-width: 218px;
    height: 215px;
    display: block;
    margin: auto;
}

.bg-sm-none{
    background: none !important;
}

@media only screen and (max-width: 2040px) {
    .toggler-sm-icon{
       display: none !important;
    }

    .toggler-lg-icon{
        display: block !important;
    }
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
    
}

/* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .toggler-sm-icon{
        display: block !important;
        margin-left: auto !important;
    }

    .toggler-lg-icon{
        display: none !important;
    }   
    
    .text-sm{
        text-transform: none !important;
    }

    iframe{
        width: 340px;
        margin-left: 9px;
        margin-right: 20px !important;
    }

    .top-nav-left{
        max-width: 94% !important;
        margin-right: 10px !important;
    }

    .col-sm-1 {
        width: 8.33%;
    }

    .card.col-sm-r-12 {
        width: 100% !important;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66% !important;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100% !important;
    }

    .res-row-sm{
        margin-left: 60px !important;
    }

    .res-row-sm-profile{
        margin-left: -5px;
    }

    .label-modal-icon{
        height: 170px;
    }

    .text-sm-wrap {
        font-size: 12px;
        padding: 0 28px 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 210px;
    }
}
