.main-lef{
    width: 616px;
    height: 346px;
    box-sizing: border-box; 
}

.main-right{
    box-sizing: border-box; 
    line-height: 10px;
}

.main-right h3{
    font-weight: bold;
}

.main-right p{
    line-height: 10px;
    text-align: justify;
}

p.text-justify.text-main-p {
    box-sizing: border-box;
    margin: 6px 0px 0px;
    min-width: 0px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.main-right .text-p{
    color: #717171;
}

video{
    max-width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.btn-watch{
    background: #202020;
    padding: 8px 28px 8px 10px;
    margin-right: 8px;
}

.btn-watch:hover{
    border: 3px solid rebeccapurple;
    color: #c0392b;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-trailer:hover{
    border: 1px solid rebeccapurple;
    color: #fff;
    border-radius: 8px;
}

.menu-item > button > span{
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
    position: relative;
    left: -8px;
}

.text-watch{
    text-transform: none;
}

.menu-item button{
    padding: 8px 28px 8px 8px;
    margin-left: 8px;
}

.section-h3{
    padding-bottom: 8px;
    border-bottom: 3px solid #E72432;
    cursor: pointer;
    font-weight: bold;
}

/* .section-tap{
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    background-color: #202020;
    margin-left: 10px;
    cursor: pointer;
} */
/* 
.section-tap span{
    position: absolute;
    top: 7px;
    left: 40px;
    font-size: 14px;
} */